<!doctype html>
<html>
<head>
  <title>eight glasses</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dataTables.foundation.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colors.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />  
  
  <script src="{{ url_for('static', filename='modernizr.js') }}"></script>
</head>
<body>
  <div class="row waytop">
    <div class="large-11 columns">      
      <div class="panel radius">
        <div class="row">
          <div class="large-4 small-6 columns">
            <a class="brand" href="{{ url_for('home') }}">
              <h1>Eight Glasses</h1>
              <p class="aside">The habit forming app</p>
            </a>
          </div>

          <div class="large-7 small-5 columns">
      	{% if not session.logged_in %}
  				  <a data-reveal-id="login-modal" href="#"  class="button right round">log in</a>
  				  
  				  <div id="login-modal" class="reveal-modal medium" data-reveal>
              {% include 'login_form.html' %}
            </div>
  				  
  				  
				{% else %}
	  			  <a href="{{ url_for('logout') }}" class="button right round secondary olive">log out</a>
            <span class="space">&nbsp;</span>
            <a href="#" data-reveal-id="addgoal-modal" class="button secondary right round olive" data-reveal>add goal</a>
            <a href="{{ url_for('numbers') }}" class="button secondary right round olive" data-reveal>numbers</a>
				{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
	<div class="large-11 columns">
  {% for message in get_flashed_messages() %}
    <div data-alert class="alert-box">
    	{{ message }}
	    <a href="#" class="close">&times;</a>
    </div>
  {% endfor %}
  {% block body %}{% endblock %}
	</div>
</div>



	<footer class="row waybottom">
    <div class="large-11 columns">
    <div class="panel radius">

      <div class="row">
        <div class="large-6 small-6 columns">
          <ul class="inline-list right">
            <li><a href="#" onclick="$('#debug').toggle(300)">Debug</a></li>
            <li><a href="https://github.com/michaelsnook/8-glasses/">GitHub</a></li>

          </ul>
        </div>
        <div class="large-4 small-4 columns">
          <p>&copy; Michael Snook 2014</p>
        </div>

      </div>

			<div class="debug" style="display: hidden;">
    		{% block debug %}{% endblock %}
			</div>

    </div>
    </div>
  </footer>



	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='foundation.js') }}"></script>
	<script src="{{ url_for('static', filename='foundation.reveal.js') }}"></script>
	<script src="{{ url_for('static', filename='dataTables.foundation.js') }}"></script>
{#	<script src="{{ url_for('static', filename='d3.js') }}"></script>
	<script src="{{ url_for('static', filename='slip.js') }}"></script> #}
	<script src="{{ url_for('static', filename='app.js') }}"></script>
	<script> $(document).foundation();</script>
</body>
