{% extends "layout.html" %}
{% block body %}
	
	{# for goaltotal in goaltotals | sort(attribute='max_entry_id', reverse=True) #}	
	{% for goaltotal in goaltotals %}	
	<div id="slippable" class="row">
  	<div class="large-11 columns">
    	<!-- Feed Entry -->
      <div class="panel radius">
       	<form id="add-{{ goaltotal.name }}" name="add-{{ goaltotal.name }}" action="{{ url_for('add_entry') }}" method="POST" class="add-goal-entry marginless">      
				 	<div class="row">
	        	<div class="large-3 small-3 columns text-center">
							<input type="hidden" name="name" value="{{ goaltotal.name }}" />
							<input type="hidden" name="type" value="{{ goaltotal.type }}"	/>
							<input type="hidden" name="goal_id" value="{{ goaltotal.id }}"	/>							
							{% if goaltotal.type == 'increment' %}
							<input type="hidden" name="notes" value=""	/>
							<input type="hidden" name="total" value="1"	/>
							<button class="round large expand marginless 
								{% if goaltotal.direction == 'negative' %}alert{% endif %}">
        				<h1>0{# goaltotal.sum|int #}</h1>
							</button>
							
							{% else %}							
							
							<div id="modal-{{ goaltotal.name }}" class="reveal-modal small" data-reveal>
								<label class="lead">how many did you {{ goaltotal.verb }}?</label>
								<input type="text" {% if goaltotal.type == 'float' %}placeholder="__._"{% elif goaltotal.type == 'count' %}placeholder="__"{% endif %} name="total" form="add-{{ goaltotal.name }}" />
								<a class="close-reveal-modal">&#215;</a>
								<input type="submit" form="add-{{ goaltotal.name }}" class="button round" value="submit" />
								<a class="button round secondary olive" onclick="$(this).next().show(300);">more</a>
								<label class="lead hide">notes
									<textarea form="add-{{ goaltotal.name }}" name="notes"></textarea>
								</label>
							</div>
							
							<a data-reveal-id="modal-{{ goaltotal.name }}" href="#" 
								class="round large button expand marginless 
								{% if goaltotal.direction == 'negative' %}alert{% endif %}">
        				<h1>
	        				{%- if goaltotal.type == 'increment' or goaltotal.type == 'count' %}{# goaltotal.sum|int #}0
									{%- else %} {# goaltotal.sum #}
									{%- endif %}
								</h1>
							</a>
							
							{% endif %}
							
						</div>
						<div class="large-5 small-5 columns text-center instant">
						  <span>{{ goaltotal.verb }} {% if goaltotal.direction == 'positive' %}at least
						    {%- elif goaltotal.direction == 'negative' %}no more than
						    {%- else %}{% endif %}
						  </span>
						  <h1>
							  {% if goaltotal.type == 'increment' or goaltotal.type == 'count' %}{# goaltotal.sum|int #}0
							  {%- else %} {# goaltotal.goal #}
							  {%- endif %}	  
							  {{ goaltotal.name }}
						  </h1>
						  <span class="clearfix">
							   {{- goaltotal.subtitle }}
							 	{{ goaltotal.period -}}
							</span>
						  {#
						  <ul class="inline-list">
						    <li>
						    {% if goaltotal.count %}
						    	<a href="#" onclick="$('.toggles-{{ loop.index }}').toggle(400)">
						      	Show {{ goaltotal.count }}
						    	</a>
						    {% else %}<!--em>none</em-->
						    {% endif %}
						    </li>
						  </ul>
						  <div class="show-individuals toggles-{{ loop.index }}" style="display: none;">
						    <h6>{{ goaltotal.count }} Comments</h6>
						  </div>
						  #}
						</div>
						<div class="large-3 small-3 columns text-center">
						  
						  {% if goaltotal.type == 'increment' %}
							<button class="round large marginless 
								{% if goaltotal.direction == 'negative' %}alert{% endif %}">
        				<h1>+</h1>
							</button>
							
							{% else %}							
							
							<a data-reveal-id="modal-{{ goaltotal.name }}" href="#" class="round large button marginless {% if goaltotal.direction == 'negative' -%}
						  	 alert {% else %}  {% endif %}">
						  	<h1>+</h1>
						  </a>
						  
							{% endif %}
						  
						</div>

					</div><!-- row -->
					
				</form>      
      </div><!-- panel -->
		</div><!-- columns -->
	</div>
 	{%- endfor %}

{% endblock %}


{% block debug %}
<div id="debug" style="display:none;">
{% include 'debug.html' %}
</div>
{% endblock %}