<!doctype html>
<html>
<head>
  <title>eight glasses</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/foundation.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dataTables.foundation.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/colors.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />  
  
  <script src="{{ url_for('static', filename='javascripts/modernizr.js') }}"></script>
</head>
<body>
  <div class="row waytop">
    <div class="large-11 columns">      
      <div class="panel radius">
        <div class="row">
          <div class="large-4 small-6 columns">
            <h1><a class="brand" href="{{ url_for('home') }}">Eight Glasses</a></h1>
            <aside>The habit forming app</aside>
          </div>

          <div class="large-7 small-5 columns">
      	{% if not session.logged_in %}
  				  <a data-reveal-id="login-modal" href="#"  class="button right round">log in</a>
  				  
  				  <div id="login-modal" class="reveal-modal medium" data-reveal>
              {% include 'login_form.html' %}
            </div>
  				  
  				  
				{% else %}
	  			  <a href="{{ url_for('logout') }}" class="button right round secondary olive">log out</a>
            <span class="space">&nbsp;</span>
            <a href="#" data-reveal-id="addgoal-modal" class="button secondary right round olive" data-reveal>add goal</a>
            <a href="{{ url_for('numbers') }}" class="button secondary right round olive" data-reveal>numbers</a>
				{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
	<div class="large-11 columns">
  {% for message in get_flashed_messages() %}
    <div data-alert class="alert-box">
    	{{ message }}
	    <a href="#" class="close">&times;</a>
    </div>
  {% endfor %}
  {% block body %}{% endblock %}
	</div>
</div>



	<footer class="row waybottom">
    <div class="large-11 columns">
    <div class="panel radius">

      <div class="row">
        <div class="large-6 small-6 columns">
          <ul class="inline-list right">
            <li><a href="#" onclick="$('#debug').toggle(300)">Debug</a></li>
            <li><a href="https://github.com/michaelsnook/8-glasses/">GitHub</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
            <li><a href="{{ url_for('numbers') }}">Numbers</a></li>
          </ul>
        </div>
        <div class="large-4 small-4 columns">
          <p>&copy; Michael Snook 2014</p>
        </div>

      </div>

			<div class="debug" style="display: hidden;">
    		{% block debug %}{% endblock %}
			</div>

    </div>
    </div>
  </footer>

{%- if session.logged_in %}
<div id="addgoal-modal" class="reveal-modal medium" data-reveal>
{% include 'addgoal_form.html' %}
</div>
{% endif %}


	<script src="{{ url_for('static', filename='javascripts/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='javascripts/foundation.js') }}"></script>
	<script src="{{ url_for('static', filename='javascripts/foundation.reveal.js') }}"></script>
	<script src="{{ url_for('static', filename='javascripts/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='javascripts/dataTables.foundation.js') }}"></script>
{#	<script src="{{ url_for('static', filename='javascripts/d3.js') }}"></script> #}
	<script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
	<script> 
	  $(document).foundation(); 
    $('table').dataTable({
        "sDom": "<'row'<'large-5 small5 columns'l><'large-6 small-6 columns'f>r>t<'row'<'large-6 small-6 columns'i><'span6'p>>"
    } );
	</script>
</body>
